-B -U -e -Dsurefire.useFile=false install sonar:sonar -Psample,jacoco,integration,jmeter,run-its,arq-weld-ee-embedded,!arq-jbossas-managed -Dsonar.projectKey="com.nabla.project.sample.interview.visma:visma:master" -Djacoco.outputDir=${WORKSPACE}/target -Ddatabase=derby -Dserver=jetty9x -Dwebdriver.chrome.driver=/var/lib/chromedriver -Dwebdriver.base.url=http://localhost:$JETTY_PORT -Djboss.port=$JBOSS_PORT -Dtomcat.port=$TOMCAT_PORT -Djetty.port=$JETTY_PORT -Dcargo.rmi.port=$CARGO_RMI_PORT -Dcargo.tomcat.ajp.port=$CARGO_AJP_PORT -Dlog4j.configuration=log4j.properties -Dlog4j.debug=true -T 1C
#-Dsonar.branch.name=${SONAR_BRANCH}
