 -e -Dsurefire.useFile=false -Psample,jacoco,integration,jmeter,run-its,arq-jetty-embedded,!arq-weld-ee-embedded,!arq-jbossas-managed -Dsonar.projectKey="com.nabla.project.sample.interview.visma:visma:master" -Djacoco.outputDir=${WORKSPACE}/target -Ddatabase=derby -Dserver=jetty9x -Dwebdriver.chrome.driver=/var/lib/chromedriver -Dlog4j.configuration=log4j.properties -Dlog4j.debug=true
