.project
.settings/
.classpath
target/
target-eclipse/
/build/
.DS_Store
.idea/workspace.xml
*~
*.swp
/node/
/node_modules/
.bower/
bower_components/
.idea
*.iml
.agignore
.lvimrc
/tmp/
*.log
gui/taget_junit/
