<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>github</id>
      <password>${env.GITHUB_TOKEN}</password>
    </server>
    <!--
    <server>
      <id>ossrh</id>
      <username>${env.SONATYPE_USERNAME}</username>
      <password>${env.SONATYPE_PASSWORD}</password>
    </server>
    -->
  </servers>
  
  <mirrors>
    <!--This sends everything else to /public -->
    <mirror>
      <id>nexus-central</id>
      <name>Nexus mirror of Maven central repository</name>
      <url>http://home.nabla.mobi:8081/nexus/content/groups/public/</url>
      <!-- Set to 'central' for non dev installations, and to 'nothing' for dev installations -->
      <mirrorOf>central</mirrorOf>
    </mirror>

    <mirror>
      <id>nexus</id>
      <name>Nabla repository - all Nabla dependencies</name>
      <url>http://home.nabla.mobi:8081/nexus/content/groups/public/</url>
      <!-- Set to '*,!central' for non dev installations, and to 'nothing' for dev installations -->
      <mirrorOf>*,!central,!thirdparty</mirrorOf>
    </mirror>    
    
    <mirror>
      <id>nexus-thirdparty</id>
      <name>Nexus thirdparty repository - all non-central dependencies</name>
      <url>http://home.nabla.mobi:8081/nexus/content/repositories/thirdparty/</url>
      <!-- Set to '*,!central' for non dev installations, and to 'nothing' for dev installations -->
      <mirrorOf>*,!central</mirrorOf>
    </mirror>       
  </mirrors>  
  
  <profiles>
      <profile>
            <id>nexus</id>
            <!--all requests to nexus via the mirror -->
            <repositories>
                <repository>
                    <id>nexus-releases</id>
                    <url>http://home.nabla.mobi:8081/nexus/content/repositories/server-forge-release</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </repository>
                <repository>
                    <id>nexus-snapshots</id>
                    <url>http://home.nabla.mobi:8081/nexus/content/repositories/server-forge-snapshot</url>
                    <releases><enabled>false</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>nexus-releases</id>
                    <url>http://home.nabla.mobi:8081/nexus/content/repositories/server-forge-release</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>nexus-snapshots</id>
                    <url>http://home.nabla.mobi:8081/nexus/content/repositories/server-forge-snapshot</url>
                    <releases><enabled>false</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </pluginRepository>	
            </pluginRepositories>
            <!--
	    <properties>
	      <maven.clover.licenseLocation>${user.home}/clover.license</maven.clover.licenseLocation>
	    </properties>
	    -->
        </profile>  
  </profiles>  

  <activeProfiles>    
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
  
</settings>
